<div class="page-content" ng-controller="taskController">

      	<div class="row">
  		  <div class="col-md-2">
  		  	<div class="sidebar content-box" style="display: block;">
                  <ul class="nav">
                      <!-- Main menu -->
                      <li class="current"><a href="/MyMeetingUi/#!/dashboard" ><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                      <li><a href="/MyMeetingUi/#!/user"><i class="glyphicon glyphicon-list" ></i> User</a></li>
                      <li><a href="/MyMeetingUi/#!/task"><i class="glyphicon glyphicon-list" ></i> Task</a></li>
                      <li><a id="meeting" href="/MyMeetingUi/?#!/meeting" ><i class="glyphicon glyphicon-list" ></i> Meeting</a></li>
                      <li><a id="logout" href="/MyMeetingUi/#!/login" ><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                  </ul>
               </div>
  		  </div>
            
            <div class="col-md-10">

                <!-------------->

		  		<div class="col-md-6">
					<div class="row">
					<div class="col-md-12">
		  					<div class="content-box-large">
				  				<div class="panel-heading">
						            <div class="panel-title">Add Task Form</div>
						          
						            <div class="panel-options">
						              <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
						              <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
						            </div>
						        </div>
				  				<div class="panel-body">
				  					<form action="/MyMeetingUi/#!/task">
										<fieldset>
											<div class="form-group">
												<label> Details</label>
												<input class="form-control" placeholder="Text field" type="text" ng-model="task1.details" required>
											</div>

											<!-- MEETING CHECK BOX-->
										</fieldset>
										<div>
												<button id="Submit" ng-click="addTask()" class="btn btn-primary" >
												Submit</button>
												<button id="Edit" ng-click="editTask(task1.id)" class="btn btn-primary" style="display: none;">
												Edit</button>
										</div>
									</form>
				  				</div>
				  			</div>
		  				</div>
		  			</div>
		  			</div>
                <!---------------------->
                
	  				<div class="col-md-6" >
	  					<div class="content-box-large">
			  				<div class="panel-heading">
								<div class="panel-title">ALL Task:</div>
								
								
							<div class="panel-options">
							    <div>
									<button ng-click="edit1()" class="btn btn-primary"><i class="glyphicon glyphicon-edit" ></i>EDIT</button>
									<button ng-click="delete1()" class="btn btn-primary"><i class="glyphicon glyphicon-trash" ></i>Delete</button>
								</div>
							</div>
			  				<div class="col-md-9">
			  									<BR>
								              <div class="row">
								                <div class="col-lg-11">
								                  <div class="input-group form">
								                       <input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
								                       <span class="input-group-btn">
								                         <button class="btn btn-primary" type="button">Search</button>
								                       </span>
								                  </div>
								                </div>
								              </div>
							</div>
	                        <div class="panel-body">
			  					<div><h4>There is {{tasks.length}} Tasks</h4></div>
			  					<table class="table table-bordered" style='border-right:none;'>
					              <thead>
					                <tr>
					                  <th>#</th>
					                  <th>Task</th>
					                  <th>Operation</th>
					                </tr>
					              </thead>
					              <tbody>
					                <tr ng-repeat="task in tasks | filter : searchText | limitTo : 3 : counter  ">
					                  <td>{{$index + counter + 1}}</td>
					                  <td>{{task.details}}</td>
					                  <td><button id="edit{{$index}}" ng-click="Edit(task)" class="btn btn-warning" style="display: none;"><i class="glyphicon glyphicon-edit"></i>Edit</button>
					                  	<button id="delete{{$index}}" ng-click="Delete(task.id)" class="btn btn-danger" style="display: block;"><i class="glyphicon glyphicon-trash" ></i>Delete</button>
					                  </td>
	                                </tr>
					              </tbody>
					            </table>
					            <div>
					           		<button class="btn btn-primary" type="button"  ng-click="prev()" id="prev">prev</button>
					           		<button  class="btn btn-primary" type="button" ng-click="next()" id="next">next</button>
					           </div>
			  				</div>
			  			</div>
			  		</div> 
                
</div>
</div>
    </div>